.progress-container {
  padding: 5%;
}

.reset-button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  background-color: #42b05d;
  color: #fff;
  margin-bottom: 20px;
}

.progress-summary {
  border-radius: 5px;
  background-color: #f3f4f6;
  padding: 5px 0;
  margin-bottom: 20px;
}

.progress-saved,
.progress-expent {
  text-align: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.progress-saved {
  border-bottom: #fff solid 3px;
  padding-bottom: 20px;
  color: #42b05d;
}

.progress-expent{
  color: red;
}

.history-container {
  background-color: #f3f4f6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  align-items: center;
  justify-content: center;
}

.history-container i {
  font-size: 30px;
  margin-bottom: 20px;
}

.history-container p {
  font-size: 20px;
}

.total-amount {
  font-size: 25px;
}