.home-container {
  height: calc(100vh - 120px);
}

.home-summary {
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.home-summary-container {
  width: 30%;
  text-align: center;
}

.home-summary-info {
  border-radius: 50%;
  background-color: #f3f4f6;
  width: 100%;
  padding: 40% 0;
  text-align: center;
  margin-bottom: 10%;
}

.home-catalogue-container {
  height: 70%;
  background-color: #f3f4f6;
  display: flex;
}

.home-catalogue {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5% 0 5%;
  justify-content: space-between;
}

.home-catalogue-item {
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 47%;
  margin-bottom: 20px;
}
