.active {
  background-color: #41b5e8;
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #313944;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}